apiVersion: v1
kind: ConfigMap
metadata:
  name: re-configmap
  namespace: rootelement
data:
  mysql-master.cnf: |
    [mysqld]
    # 去除groupBy 需要选择字段
    sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
    log-error = /var/log/mysql/error.log
    secure_file_priv = /var/lib/mysql
