<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingjiatong.re.service.sys.mapper.SysConfigMapper">
    <!-- ********************************结果映射******************************** -->



    <!-- ********************************新增类接口******************************** -->

    <!-- ********************************删除类接口******************************** -->

    <!-- ********************************修改类接口******************************** -->

    <!-- ********************************查询类接口******************************** -->



    <!-- 获取前端站点配置信息 -->
    <select id="findFrontendWebsiteConfig" resultType="cn.lingjiatong.re.service.sys.entity.SysConfig">
        SELECT
            `key`,
            `value`
        FROM sys_config
        <where>
            <!-- 获取全部站点配置 -->
            <if test="dto.acquireType == @cn.lingjiatong.re.service.sys.constant.SysConfigConstant@WEBSITE_ACQUIRE_TYPE_ALL">
                AND `key` IN
                <foreach collection="@cn.lingjiatong.re.service.sys.constant.SysConfigConstant@WEBSITE_KEY_LIST" item="key" open="(" close=")" separator=",">
                    #{key, jdbcType=VARCHAR}
                </foreach>
            </if>
            <!-- 获取部分站点配置 -->
            <if test="dto.acquireType == @cn.lingjiatong.re.service.sys.constant.SysConfigConstant@WEBSITE_ACQUIRE_TYPE_MULTIPLE">
                AND `key` IN
                <foreach collection="dto.acquireKeyList" item="key" open="(" close=")" separator=",">
                    #{key, jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
