<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingjiatong.re.service.article.mapper.ArticleMapper">
    <!-- ********************************结果映射******************************** -->


    <!-- ********************************新增类接口******************************** -->

    <!-- ********************************删除类接口******************************** -->

    <!-- ********************************修改类接口******************************** -->

    <!-- ********************************查询类接口******************************** -->


    <!-- 分页获取文章列表 -->
    <select id="findBackendArticleList" resultType="cn.lingjiatong.re.service.article.api.vo.BackendArticleListVO">
        SELECT
            a.id,
            a.title,
            a.summary,
            c.name AS category,
            a.user_id,
            a.view,
            a.favorite,
            a.is_recommend AS recommend,
            a.is_top AS top,
            a.create_time,
            a.modify_time,
            a.is_deleted AS deleted
        FROM re_article.article a
        LEFT JOIN re_article.category c ON c.id = a.category_id
        <where>
            <!-- 模糊查询条件 -->
            <if test="dto.searchCondition != null and dto.searchCondition != ''">
                a.title LIKE CONCAT('%', #{dto.searchCondition, jdbcType=VARCHAR}, '%')
            </if>
            <!-- 分类筛选条件 -->
            <if test="dto.category != null and dto.category != ''">
                AND c.name = #{dto.category, jdbcType=VARCHAR}
            </if>
            <!-- 推荐筛选条件 -->
            <if test="dto.recommend != null">
                AND a.is_recommend = #{dto.recommend, jdbcType=TINYINT}
            </if>
            <!-- 置顶筛选条件 -->
            <if test="dto.top != null">
                AND a.is_top = #{dto.top, jdbcType=TINYINT}
            </if>
        </where>
        <if test="dto.order != null and dto.order != ''">
            ORDER BY ${dto.order}
        </if>
        <if test="dto.order == null or dto.order == ''">
            ORDER BY id DESC
        </if>
    </select>

    <!-- 分页获取文章列表-查询总数 -->
    <select id="findBackendArticleListTotal" resultType="long">
        SELECT
            COUNT(DISTINCT a.id)
        FROM re_article.article a
        LEFT JOIN re_article.category c ON c.id = a.category_id
        <where>
            <!-- 模糊查询条件 -->
            <if test="dto.searchCondition != null and dto.searchCondition != ''">
                a.title LIKE CONCAT('%', #{dto.searchCondition, jdbcType=VARCHAR}, '%')
            </if>
            <!-- 分类筛选条件 -->
            <if test="dto.category != null and dto.category != ''">
                AND c.name = #{dto.category, jdbcType=VARCHAR}
            </if>
            <!-- 推荐筛选条件 -->
            <if test="dto.recommend != null">
                AND a.is_recommend = #{dto.recommend, jdbcType=TINYINT}
            </if>
            <!-- 置顶筛选条件 -->
            <if test="dto.top != null">
                AND a.is_top = #{dto.top, jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <!-- 前端滚动获取文章列表 -->
    <select id="findFrontendArticleScroll" resultType="cn.lingjiatong.re.service.article.api.vo.FrontendArticleScrollVO">
        SELECT
            a.id,
            a.title,
            a.summary,
            c.name AS category,
            a.cover_url,
            a.user_id,
            a.view,
            a.favorite,
            a.modify_time
        FROM re_article.article a
        LEFT JOIN re_article.category c ON c.id = a.category_id
        WHERE a.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
        ORDER BY ${dto.order}
    </select>

    <!-- 前端滚动获取文章列表-查询总数 -->
    <select id="findFrontendArticleScrollTotal" resultType="long">
        SELECT
            COUNT(DISTINCT a.id)
        FROM re_article.article a
        LEFT JOIN re_article.category c ON c.id = a.category_id
        WHERE a.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
    </select>

    <!-- 前端分页获取文章置顶列表 -->
    <select id="findFrontendArticleTopList" resultType="cn.lingjiatong.re.service.article.api.vo.FrontendArticleTopListVO">
        SELECT
            a.id,
            a.title,
            a.view,
            a.favorite
        FROM re_article.article a
        WHERE a.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
        AND a.is_top = ${@cn.lingjiatong.re.common.constant.ArticleConstant@ARTICLE_TOP}
        ORDER BY ${dto.order}
    </select>

    <!-- 前端分页获取文章置顶列表-查询总数 -->
    <select id="findFrontendArticleTopListTotal" resultType="long">
        SELECT
            COUNT(DISTINCT a.id)
        FROM re_article.article a
        WHERE a.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
        AND a.is_top = ${@cn.lingjiatong.re.common.constant.ArticleConstant@ARTICLE_TOP}
    </select>

    <!-- 前端分页获取推荐文章列表 -->
    <select id="findFrontendArticleRecommendList" resultType="cn.lingjiatong.re.service.article.api.vo.FrontendArticleRecommendListVO">
        SELECT
            a.id,
            a.title,
            a.cover_url,
            a.favorite,
            a.modify_time
        FROM re_article.article a
        WHERE a.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
        AND a.is_recommend = ${@cn.lingjiatong.re.common.constant.ArticleConstant@ARTICLE_RECOMMEND}
        ORDER BY ${dto.order}
    </select>

    <!-- 前端分页获取推荐文章列表-总数 -->
    <select id="findFrontendArticleRecommendListTotal" resultType="long">
        SELECT
            COUNT(DISTINCT a.id)
        FROM re_article.article a
        WHERE a.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
        AND a.is_recommend = ${@cn.lingjiatong.re.common.constant.ArticleConstant@ARTICLE_RECOMMEND}
    </select>
</mapper>
