<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingjiatong.re.service.article.mapper.TagMapper">
    <!-- ********************************结果映射******************************** -->



    <!-- ********************************新增类接口******************************** -->

    <!-- ********************************删除类接口******************************** -->

    <!-- ********************************修改类接口******************************** -->

    <!-- ********************************查询类接口******************************** -->


    <!-- 根据文章id获取文章所有的标签列表 -->
    <select id="findTagListByArticleId" resultType="java.lang.String">
        SELECT
            `name`
        FROM tag t
        <where>
            t.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
            <if test="articleId != null">
                AND t.id IN (SELECT tat.tag_id FROM tr_article_tag tat WHERE article_id = #{articleId,jdbcType=BIGINT})
            </if>
        </where>
    </select>
</mapper>
