<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingjiatong.re.service.article.mapper.TagMapper">
    <!-- ********************************结果映射******************************** -->



    <!-- ********************************新增类接口******************************** -->



    <!-- ********************************删除类接口******************************** -->

    <!-- ********************************修改类接口******************************** -->

    <!-- ********************************查询类接口******************************** -->


    <!-- 根据文章id获取文章所有的标签列表 -->
    <select id="findFrontendTagListByArticleId" resultType="java.lang.String">
        SELECT
            `name`
        FROM re_article.tag t
        <where>
            t.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
            <if test="articleId != null">
                AND t.id IN (SELECT tat.tag_id FROM re_article.tr_article_tag tat WHERE tat.article_id = #{articleId, jdbcType=BIGINT})
            </if>
        </where>
    </select>

    <!-- 根据文章id列表查询文章的标签名列表 -->
    <select id="findTagNameListByArticleIdList" resultType="cn.lingjiatong.re.service.article.bo.ArticleTagListBO">
        SELECT
            GROUP_CONCAT(t.name) AS tagNameStr,
            tat.article_id
        FROM
            re_article.tr_article_tag tat
        LEFT JOIN re_article.tag t ON tat.tag_id = t.id
        <if test="articleIdList != null and articleIdList.size() != 0">
            WHERE
            tat.article_id IN
            <foreach collection="articleIdList" item="articleId" open="(" close=")" separator=",">
                #{articleId, jdbcType=BIGINT}
            </foreach>
        </if>
        GROUP BY tat.article_id
    </select>

    <!-- 获取前端热门标签列表数据 -->
    <select id="findFrontendHotTagList" resultType="cn.lingjiatong.re.service.article.api.vo.FrontendTagListVO">
        SELECT
            t.id,
            t.name,
            COUNT(DISTINCT tat.article_id) AS article_count
        FROM re_article.tag t
        LEFT JOIN re_article.tr_article_tag tat ON t.id = tat.tag_id
        WHERE t.is_deleted = ${@cn.lingjiatong.re.common.constant.CommonConstant@ENTITY_NORMAL}
        GROUP BY t.id
    </select>


</mapper>
