<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingjiatong.re.auth.mapper.MenuMapper">
    <!-- ********************************结果映射******************************** -->



    <!-- ********************************新增类接口******************************** -->

    <!-- ********************************删除类接口******************************** -->

    <!-- ********************************修改类接口******************************** -->

    <!-- ********************************查询类接口******************************** -->

    <!-- 根据用户id获取用户菜单列表 -->
    <select id="getMenuListByUserId" resultType="cn.lingjiatong.re.common.entity.Menu">
        SELECT
            m.id,
            m.name,
            m.title,
            m.icon,
            m.path
        FROM tr_role_permission trp
        LEFT JOIN tr_user_role tur ON trp.role_id = tur.role_id
        LEFT JOIN tr_role_menu trm ON trm.role_id = tur.role_id
        LEFT JOIN menu m ON m.id = trm.menu_id
        <where>
            tur.user_id = #{userId, jdbcType=BIGINT}
        </where>
    </select>
</mapper>
