<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lingjiatong.re.auth.mapper.RoleMapper">
    <!-- ********************************结果映射******************************** -->



    <!-- ********************************新增类接口******************************** -->

    <!-- ********************************删除类接口******************************** -->

    <!-- ********************************修改类接口******************************** -->

    <!-- ********************************查询类接口******************************** -->


    <!-- 根据用户id获取用户角色列表 -->
    <select id="findRoleByUserId" resultType="cn.lingjiatong.re.common.entity.Role">
        SELECT
            r.id,
            r.name
        FROM role r
        <where>
            r.id IN (SELECT role_id FROM tr_user_role tur WHERE user_id = #{userId,jdbcType=BIGINT})
        </where>
    </select>
</mapper>
